<div class="navbar navbar-default ">
    <div class="container-fluid" >
      <div class="navbar-header">
        <a class="navbar-brand" href="#" (click)="onSelect('Details')"><span class="navbar-logo">TIRTH KOTHARI</span></a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="onSelect('Projects')">Projects</a></li>
          <li><a href="#" (click)="onSelect('experience')">Experience</a></li>
          <li><a href="#" (click)="onSelect('education')">Education</a></li>
        </ul>
      </div>
    </div>
  </div>