<div class="experience-style">
    <p class="lead">Student Building Manager</p>
    <p>University of Massachusetts - Lowell</p>
    <p>
        Honors: Employee of the Year<br>
        • Successfully led a team to organize events in a university building, ensuring seamless execution from planning to implementation.<br>
        • Proactively engaged with customers during events, providing prompt assistance and addressing inquiries on various aspects including technologies and event details.<br>
        • Demonstrated strong leadership skills by managing the setup and breakdown of equipment and materials for events, maintaining a high level of efficiency and attention to detail.
    </p>
</div>
<br>
<div class="experience-style">
    <p class="lead">Web Developer Intern</p>
    <p>Webbions Technology</p>
    <p>
        • Designed an Ecommerce website of online shopping for the customer, which helped them to compare the prices of same product on different online shopping websites, on the same webpage.<br>
        • Implemented Angular JS for frontend and Node JS for backend. Also worked on features like search filter and group-by websites.<br>
        • Collaborated with a conscientious team to work on web-scraping to extract information from the websites and also to design it.<br>
        • Tested application in various browsers using CSS selectors and Xpath in Selenium.<br>
        • Collaborated with cross-functional teams to identify and report software defects using JIRA.<br>
    </p>
</div>