<div class="education-style">
    <p class="lead">Master of Science in Computer Science</p>
    <p>University of Massachusetts - Lowell</p>
    <p>
        Honors: Recipient of ‘Professor Charlie Steele Memorial Scholarship’ and ‘Who’s Who Among Graduates of UMass Lowell’<br>
        Coursework: Algorithms, Database, Network Security, Cyber Defense, Data Communication,<br>
        Computer Graphics, Internet and Web security, Machine Learning, Data Mining
    </p>
</div>
<br>
<div class="education-style">
    <p class="lead">Bachelor of Engineering in Computer Engineering</p>
    <p>LDRP Institute of Technology and Research</p>
    <p>
        Honors: Recipient of MYSY (Mukhyamantri Yuva Swavalamban Yojna) scholarship during my whole under graduation duration.<br>
        Coursework: Data-Structures, Design and Analysis of Algorithms, Operating System
    </p>
</div>