<div class="row">
    <div class="col-md-5">
        <img src="/assets/info.png" alt="No Image" height="300" width="300">
    </div>
    <div class="lead">
        As a graduate with a Master's degree in Computer Science and strong proficiency in data structures and algorithms, I am excited about the opportunity to work with a reputable company. With my skills in programming languages, tools and technologies mentioned in my resume, I am confident that I can make a valuable contribution to the team. I am self-motivated and can work independently while still meeting project requirements and collaborating with others to achieve shared goals. I'm a quick learner, So I'm ready to learn new skills and technologies required for this position and add it to my skillset.
    </div>
</div>
<br>
<div class="row">
    "There we go!!" <br>
    "Initial phase"
</div>