<div class="project-style">
    <p class="lead">Encrypted Overlay Network</p>
    <p>
        • Created an encrypted overlay network and designed both server and client components to facilitate discovery and communication between clients connected to the network using Python.<br>
        • Performed tasks likes authentication of the client with the certificate and unique tokens, multithreaded processes for parallel connections among the clients.<br>
        • Implemented RSA encryption and decryption to enhance data and network security, resulting in a 30% increase in network’s security.
    </p>
</div>
<br>
<div class="project-style">
    <p class="lead">One Click</p>
    <p>
        • Developed an end-to-end web application to overcome the issue of surfing different websites to find the best deals of the same product. Used tools like NPM and frameworks like AngularJS for frontend and NodeJS for backend.<br>
        • Developed a web scraper using Puppeteer in NodeJS that fetches the information publicly available on the shopping websites, which reduces the average time spent by a user by 60% on different shopping websites to buy a product.<br>
        • Implemented search filter functionality, group-by feature for retail stores websites, sorting based on product ratings and product availability. Achieved a 20% reduction in website response time.
    </p>
</div>
<br>
<div class="project-style">
    <p class="lead">Designing and Querying Database in SQL</p>
    <p>
        • The project involves designing a database system to manage car registration and ownership. The system should track the life cycle of a car, including manufacturing, delivery, ownership transfers, and destruction.<br>
        • Constructed an E-R (Entity-Relationship) model for the application, ensuring 3NF (Third Normal Form) compliance.<br>
        • Translated the E-R diagram into a set of SQL tables, following 3NF guidelines, specifying the primary key and foreign key constraints.
    </p>
</div>
<br>
<div class="project-style">
    <p class="lead">Quora Question Pair Similarity</p>
    <p>
        • Developed a machine learning model that effectively analyzes a dataset comprising question IDs, corresponding questions, and a binary column indicating if the questions are duplicates on Quora.<br>
        • Analyzed fundamental aspects such as word frequency, common terms, and implemented advanced techniques including NLTK for tokenization and removal of stopwords, TSNE for dimensionality reduction, and TF-IDF for transforming text into meaningful numerical representation.<br>
        • Developed and deployed machine learning models including Support Vector Machine, Logistic Regression, and XGBoost, with a focus on accuracy evaluation using log loss. Identified and recommended the best performing model for optimal results.    
    </p>
</div>